li{
    list-style: none;
}

.maindiv{
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

ul{
    display: inline-block;
}
#output{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,350px));
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

#upbtn{
    display: none;
}

.btn{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#searchbtn, #backbtn{
    width: 25%;
}

#backbtn{
    display: none;
}