.maindiv {
    display: flex;
    width: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px 2px;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom: 5px;
}


.delbtn,
.upbtn,
.up-main-btn {
    height: 40px;
    color: white;
    width: 80px;
    border-radius: 8px;
}

.upbtn {
    background-color: orange;
}

.delbtn {
    background-color: red;
}

.up-main-btn {
    background-color: blue;
}

